@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');/* ------------------------- */
/* ~~~~~~~ Custom Properties ~~~~~~~ */
/* ------------------------- */

:root {
    
    /* Colors */

    --clr-dark: 0 0% 31%;
    --clr-light: 0 0% 94.9%;
    --clr-white: 0 0% 100%;

    --clr-primary: 214 84% 56%;
    --clr-secondary: 0 0% 20%;
    --clr-tertiary: 0 0% 51%;
    --clr-accent1: 0 0% 77%;
    --clr-accent2: 0 0% 88%;

    /* Font Sizes */
        /* consider using clamp for your custom fonts sizes
        Also, consider using vmin and vmax
        */
        --fs-900: clamp(5rem, 7vw + 1rem, 9.375rem);
        --fs-800: clamp(2rem, 6vw + 1rem, 3.5rem);
        --fs-700: clamp(1.8rem, 5vw + 1rem, 2.3rem);
        --fs-600: clamp(1.5rem, 4vw + 1rem, 1.75rem);
        --fs-500: clamp(0.9375rem, 3vw + 1rem, 1.5rem);
        --fs-400: clamp(0.625rem, 1vw + 0.7625rem, 1.125rem);
        --fs-300: clamp(0.725rem, 0.5vw + 1rem, 1rem);
        --fs-200: clamp(0.6rem, 0.5vw + 0.5rem, 0.875rem);

    /* Font families */
    --ff-sans-cond: 'Montserrat', sans-serif;

    /* Font weight */
    --fw-reg: 500;
    --fw-bold: 600;
    --fw-bolder: 700;
}

/* ------------------------- */
/* ~~~~~~~ Reset ~~~~~~~ */
/* ------------------------- */

/* Box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset Margins */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: var(--font-weight, 400);
}

/*  Set up the body */
body {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-400);
    font-weight: var(--fw-reg);
    background-color: hsl(var(--clr-light));
    color: hsl(var(--clr-dark));
    line-height: 1.5;
    min-height: 100vh;
    /* display: grid;
    grid-template-rows: min-content 1fr; */
    overflow-x: hidden;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    /* display: block; */
}

/* Make forms easier to work with  */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove animations for people who turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important
    }
}

/* ------------------------- */
/* ~~~~~~~ Utilities ~~~~~~~ */
/* ------------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.d-none {
    display: none;
    transition: ease-in-out 3s;
}
/* .flow > *:not(:first-child) {
    margin-top: 1rem; 
} */
.flow > * + * {
    margin-top: var(--flow-space, 1rem);
}
.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
    --flow-space: 0.5rem
}

.container {
    padding: 1rem;
    margin: 0 auto;
    /* max-width: 90rem; */
}

.sr-only { /*screen reader only */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.skip-to-content {
    background: hsl( var(--clr-white));
    color: hsl(var(--clr-dark));
    padding: 0.5em 1em;
    margin-inline: auto;
    position: absolute;
    z-index: 250;
    transform: translateY(-100%);
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out

}
.skip-to-content:focus {
    opacity: 1;
    transform: translateY(0);
}

/* colors */
.bg-dark { background-color: hsl(var(--clr-dark))}
.bg-light { background-color: hsl(var(--clr-light))}
.bg-white { background-color: hsl(var(--clr-white))}

.bg-primary { background-color: hsl(var(--clr-primary))}
.bg-secondary { background-color: hsl(var(--clr-secondary))}
.bg-tertiary { background-color: hsl(var(--clr-tertiary))}
.bg-accent1 { background-color: hsl(var(--clr-accent1))}
.bg-accent2 { background-color: hsl(var(--clr-accent2))}

.text-dark { color: hsl(var(--clr-dark))}
.text-light { color: hsl(var(--clr-light))}
.text-white { color: hsl(var(--clr-white))}

.text-primary { color: hsl(var(--clr-primary))}
.text-secondary { color: hsl(var(--clr-secondary))}
.text-tertiary { color: hsl(var(--clr-tertiary))}
.text-accent1 { color: hsl(var(--clr-accent1))}
.text-accent2 { color: hsl(var(--clr-accent2))}

/* typography */

.ff-sans-cond { font-family: var(--ff-sans-cond); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; }

.fw-reg { font-weight: var(--fw-reg);}
.fw-bold { font-weight: var(--fw-bold);}
.fw-bolder { font-weight: var(--fw-bolder);}

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }


.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}


/* ------------------------- */
/* ~~~~~~~ Components ~~~~~~~ */
/* ------------------------- */

/* Component page */

.card {
    background: hsl(var(--clr-white));
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    padding: 1rem;
}

main {
    --gap: 2rem;
    grid-template-areas: 'details'
                        'skills'
                        'experiences'
                        'projects'
                        'blog'
                        'hobbies';
}

.details {
    grid-area: details;
}

.skills {
    grid-area: skills;
}

.blog {
    grid-area: blog;
}

.hobbies {
    grid-area: hobbies;
}

.experiences {
    grid-area: experiences;
}

.projects {
    grid-area: projects;
}


.details > * > * + * {
    margin-top: 0.3rem;
}

.details__img {
    /* max-height: 345px; */
    /* max-width: 350px; */
    object-fit: contain;
    display: flex;
    justify-content: center;
}

.details__img, .details__img img {
    border-radius: 12px;
}

.details__contact p {
    display: flex;
    align-items: center;
}

.details__contact p span {
    margin-right: 1rem
}

.skills div.grid {
    grid-template-columns: 2fr 3fr;
    --gap: 0.1rem
}

.skills > div > p {
    font-size: var(--fs-300);
}

.skills__measure {
    border-radius: 12px;
    height: 0.563rem;
    background-color: hsl(var(--clr-accent1));
    display: flex;
    align-self: center;
}

.skills__measure div {
    width: 60%;
    background-color: hsl(var(--clr-primary));
    height: inherit;
    border-radius: inherit;
}

.experiences {
    --gap: 2rem;
}
.experiences > div {
    grid-template-columns: 100px 1fr;
}
.experience__logo {
    width: 84px;
    height: 84px;
}

.experiences > div > div.flow {
    --flow-space: 0.5rem;
}

.blog {
    overflow-x: hidden;
}
.blog__subheading {
    max-width: 11ch;
}

.blog__img--heading {
    grid-template-columns: 1fr 1.2fr;
    --gap: 3rem;
    /* overflow: hidden; */
    /* position: relative; */
}

.blog__img--img {
    margin-right: -1rem;
}

.blog__img--img img {
    height: 360px;
    border-radius: 12px 0 0 12px;
    /* transform: translateX(50%); */
}

.blog div.flow {
    --flow-space: 3rem;
}



.hobbies > div.flow {
    --flow-space: 0.4em
}

.hobbies > div.flow > img {
    border-radius: 12px;
    height: 140px;
    width: 100%;
    object-fit: cover;
}


.projects {
    --gap: 2rem
}

.project__tags button {
    background: hsl(var(--clr-white));
    border: 1px solid ;
    border-radius: 12px;
    padding: 0.2rem 1.2rem;
    width: max-content;
}

.project__tags button:hover {
    border-color: hsl(var(--clr-primary));
    color: hsl(var(--clr-primary));
}

.project__tags button:active ,
.project__tags button:focus{
    background: hsl(var(--clr-primary));
    color: hsl(var(--clr-white));
}

.project--list {
    grid-template-columns: repeat(3, 1fr);
}

.project__btns {
    --gap: 0.5rem
}

.project {
    --flow-space: 1.5rem;
    transition: ease-in-out 3s;
}

.demo, .code {
    border: 1px solid hsl(var(--clr-primary));
    border-radius: 12px;
    width: 100%;
    padding: 0.5rem 0;
}

/* ------------------------- */
/* ~~~~~ Media Queries ~~~~~ */
/* ------------------------- */

@media (max-width: 350px) {
    .experiences > div {
        grid-template-columns: 1fr;
        --gap: 0.5rem
    }
    .experience__logo {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 600px) {
    .blog__img--heading {
        grid-template-columns: 1fr;
    }

    .blog__subheading {
        max-width: unset;
    }

    .blog__img--img {
        margin-right: unset;
    }

    .blog__img--img img {
        height: 360px;
        border-radius: 12px;
        /* transform: translateX(50%); */
    }

    
}

@media (max-width: 768px) {
    .project--list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .container {
        padding: 3rem 5rem;
    }
    .card {
        padding: 2rem;
    }
    main {
        grid-template-areas: 'details details details details details'
                    'skills skills blog blog blog'
                    'hobbies hobbies blog blog blog'
                    'hobbies hobbies experiences experiences experiences'
                    'projects projects projects projects projects';
    }

    .details {
        grid-template-areas: 'details__img details__name--title details__contact'
                            'details__img details__about details__about'
                            'details__img . .';
    }

    .details__img {
        grid-area: details__img;
    }

    .details__name--title {
        grid-area: details__name--title;
    }

    .details__contact {
        grid-area: details__contact;
    }

    .details__about {
        grid-area: details__about;
    }
    
    .details__img {
        width: 250px;
        /* height: 250px; */
    }

    .blog__img--img {
        margin-right: -2rem;
    }
}

@media (min-width: 1200px) {
    .container {
        padding: 3rem 10rem;
        max-width: 90rem;
    }
}
/* Small Screens */
@media (max-width: 35em) {
}

/* Tablets */
@media (min-width: 35em) and (max-width: 44.999em) {
}

/* Tablets and small screens */
@media (max-width: 44.999em) {
}

/* Desktop */
@media (min-width: 45em) {

}